################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Building files/Tagme_/.vs
/Building files/Tagme_/bin
/Building files/Tagme_/obj

/Building files/TagSuggestBoxTest/.vs
/Building files/TagSuggestBoxTest/bin
/Building files/TagSuggestBoxTest/obj
